In [188]:
import pandas as pd

In [189]:
df= pd.read_csv('Usage_DeviationReport_Feb.csv')

In [190]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 663 entries, 0 to 662
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   PublishedBillingPeriod    663 non-null    int64
 1   FiscalYear                663 non-null    int64
 2   EnergyType                663 non-null    object
 3   EnergyUnit                663 non-null    object
 4   Utility                   663 non-null    object
 5   OECID                     663 non-null    int64
 6   Account#                  663 non-null    int64
 7   TariffClass               663 non-null    object
 8   Facility_Name             663 non-null    object
 9   Facility_Address          663 non-null    object
 10  Borough                   663 non-null    int64
 11  Zipcode                   663 non-null    int64
 12  CY_Act_Usage              663 non-null    int64
 13  CY_BDs                    663 non-null    int64
 14  CY_Adj_30Day_Usage        663 non-null    int64
 15  CY_DMD                    150 non-null    float64
 16  CY_AE                     663 non-null    object
 17  PY_AE                     663 non-null    object
 18  CY_HDD                    663 non-null    int64
 19  CY_CDD                    663 non-null    int64
 20   CY_$/Unit_Usage          662 non-null    object
 21  PY_Act_Usage              663 non-null    int64
 22  PY_BDs                    663 non-null    int64
 23  PY_Adj_30Day_Usage        663 non-null    int64
 24  PY_DMD                    150 non-null    float64
 25  PY_HDD                    663 non-null    int64
 26  PY_CDD                    663 non-null    int64
 27  CY_Usage_Deviation_%      663 non-null    object
 28  CY_DMD_Deviation_%        164 non-null    object
 29  3Y_AVG_Act_Usage          663 non-null    int64
 30  3Y_AVG_BDs                663 non-null    int64
 31  3Y_AVG_Adj_30Day_Usage    663 non-null    int64
 32  3Y_AVG_DMD                164 non-null    float64
 33  3Y_AE                     663 non-null    object
 34  3Y_AVG_HDD                663 non-null    int64
 35  3Y_AVG_CDD                663 non-null    int64
 36  3Y_AVG_Usage_Deviation_%  663 non-null    object
 37  3Y_AVG_DMD_Deviation_%    164 non-null    object
dtypes: float64(3), int64(21), object(14)
memory usage: 197.0+ KB

In [191]:
column_names = list(df)
column_names

['PublishedBillingPeriod',
 'FiscalYear',
 'EnergyType',
 'EnergyUnit',
 'Utility',
 'OECID',
 'Account#',
 'TariffClass',
 'Facility_Name',
 'Facility_Address',
 'Borough',
 'Zipcode',
 'CY_Act_Usage',
 'CY_BDs',
 'CY_Adj_30Day_Usage',
 'CY_DMD',
 'CY_AE',
 'PY_AE',
 'CY_HDD',
 'CY_CDD',
 ' CY_$/Unit_Usage ',
 'PY_Act_Usage',
 'PY_BDs',
 'PY_Adj_30Day_Usage',
 'PY_DMD',
 'PY_HDD',
 'PY_CDD',
 'CY_Usage_Deviation_%',
 'CY_DMD_Deviation_%',
 '3Y_AVG_Act_Usage',
 '3Y_AVG_BDs',
 '3Y_AVG_Adj_30Day_Usage',
 '3Y_AVG_DMD',
 '3Y_AE',
 '3Y_AVG_HDD',
 '3Y_AVG_CDD',
 '3Y_AVG_Usage_Deviation_%',
 '3Y_AVG_DMD_Deviation_%']

In [192]:
df.rename(columns={' CY_$/Unit_Usage ': 'UnitUsage'}, inplace=True)
df['UnitUsage'] = df['UnitUsage'].str.replace('$', '')
df['UnitUsage'] = df['UnitUsage'].str.replace('(', '-')
df['UnitUsage'] = df['UnitUsage'].str.replace(')', '')
df['UnitUsage']= df['UnitUsage'].astype('float64')

C:\Users\ecepniler\AppData\Local\Temp\ipykernel_46644\3391703375.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['UnitUsage'] = df['UnitUsage'].str.replace('$', '')
C:\Users\ecepniler\AppData\Local\Temp\ipykernel_46644\3391703375.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['UnitUsage'] = df['UnitUsage'].str.replace('(', '-')
C:\Users\ecepniler\AppData\Local\Temp\ipykernel_46644\3391703375.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['UnitUsage'] = df['UnitUsage'].str.replace(')', '')

In [193]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 663 entries, 0 to 662
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   PublishedBillingPeriod    663 non-null    int64
 1   FiscalYear                663 non-null    int64
 2   EnergyType                663 non-null    object
 3   EnergyUnit                663 non-null    object
 4   Utility                   663 non-null    object
 5   OECID                     663 non-null    int64
 6   Account#                  663 non-null    int64
 7   TariffClass               663 non-null    object
 8   Facility_Name             663 non-null    object
 9   Facility_Address          663 non-null    object
 10  Borough                   663 non-null    int64
 11  Zipcode                   663 non-null    int64
 12  CY_Act_Usage              663 non-null    int64
 13  CY_BDs                    663 non-null    int64
 14  CY_Adj_30Day_Usage        663 non-null    int64
 15  CY_DMD                    150 non-null    float64
 16  CY_AE                     663 non-null    object
 17  PY_AE                     663 non-null    object
 18  CY_HDD                    663 non-null    int64
 19  CY_CDD                    663 non-null    int64
 20  UnitUsage                 662 non-null    float64
 21  PY_Act_Usage              663 non-null    int64
 22  PY_BDs                    663 non-null    int64
 23  PY_Adj_30Day_Usage        663 non-null    int64
 24  PY_DMD                    150 non-null    float64
 25  PY_HDD                    663 non-null    int64
 26  PY_CDD                    663 non-null    int64
 27  CY_Usage_Deviation_%      663 non-null    object
 28  CY_DMD_Deviation_%        164 non-null    object
 29  3Y_AVG_Act_Usage          663 non-null    int64
 30  3Y_AVG_BDs                663 non-null    int64
 31  3Y_AVG_Adj_30Day_Usage    663 non-null    int64
 32  3Y_AVG_DMD                164 non-null    float64
 33  3Y_AE                     663 non-null    object
 34  3Y_AVG_HDD                663 non-null    int64
 35  3Y_AVG_CDD                663 non-null    int64
 36  3Y_AVG_Usage_Deviation_%  663 non-null    object
 37  3Y_AVG_DMD_Deviation_%    164 non-null    object
dtypes: float64(4), int64(21), object(13)
memory usage: 197.0+ KB

In [194]:
df['EnergyType'].unique()

array(['ELE', 'GAS', 'STM'], dtype=object)

In [195]:
#Filtering ELE Accts.
df_ELE= df.loc[df['EnergyType']== 'ELE']

In [196]:
#Filtering GAS Accts.
df_GAS= df.loc[df['EnergyType']== 'GAS']

In [197]:
#Filtering STM Accts.
df_STM= df.loc[df['EnergyType']== 'STM']

In [198]:
#To extract filtered data
df_ELE.to_excel('ELE.xlsx')
df_GAS.to_excel('GAS.xlsx')
df_STM.to_excel('STM.xlsx')

In [199]:
#Detecting accounts having EST. readings both in current and prior year for the same billing period for each energy type.
df_ELE_EST= df_ELE.loc[(df_ELE['CY_AE']=='EST') & (df_ELE['PY_AE']== 'EST')]
df_GAS_EST= df_GAS.loc[(df_GAS['CY_AE']=='EST') & (df_GAS['PY_AE']== 'EST')]
df_STM_EST= df_STM.loc[(df_STM['CY_AE']=='EST') & (df_STM['PY_AE']== 'EST')]

In [200]:
#To extract filtered data
df_ELE_EST.to_excel('ELE_EST.xlsx')
df_GAS_EST.to_excel('GAS_EST.xlsx')
df_STM_EST.to_excel('STM_EST.xlsx')

In [214]:
#For ELE accts. detecting accounts with higher unit cost than month's avg.
df_ELE_Avg_Unit_Cost_Monthly= df_ELE['UnitUsage'].mean()
df_ELE_high_unit_cost= df_ELE.loc[df_ELE['UnitUsage'] > df_ELE_Avg_Unit_Cost_Monthly]

In [202]:
#For GAS accts. detecting accounts with higher unit cost than month's avg.
df_GAS_Avg_Unit_Cost_Monthly= df_GAS['UnitUsage'].mean()
df_GAS_high_unit_cost= df_GAS.loc[df_GAS['UnitUsage'] > df_GAS_Avg_Unit_Cost_Monthly]
df_GAS_high_unit_cost['UnitUsage'].unique()

array([ 2.74,  2.76,  2.84,  3.01,  3.05,  2.99,  3.03,  3.44,  3.11,
        3.21,  3.56,  3.26,  3.66,  3.31,  3.9 ,  3.86,  4.87,  5.66,
        5.74,  6.19,  6.52,  7.64,  6.67,  7.02,  7.39,  8.49,  8.24,
        8.39, 12.91, 14.44, 14.35, 14.87, 16.78, 16.97, 16.99, 21.3 ,
       18.72, 19.36, 25.02, 38.03, 40.57, 36.71, 36.72, 39.28, 49.15,
       48.89])

In [203]:
#For STM accts. detecting accounts with higher unit cost than month's avg.
df_STM_Avg_Unit_Cost_Monthly= df_STM['UnitUsage'].mean()
df_STM_high_unit_cost= df_STM.loc[df_STM['UnitUsage'] > df_STM_Avg_Unit_Cost_Monthly]
df_STM_high_unit_cost['UnitUsage'].unique()

array([60.72, 60.1 , 58.62, 63.91])

In [204]:
#To extract filtered data
df_ELE_high_unit_cost.to_excel('ELE_high_unit_cost.xlsx')
df_GAS_high_unit_cost.to_excel('GAS_high_unit_cost.xlsx')
df_STM_high_unit_cost.to_excel('STM_high_unit_cost.xlsx')